<div class="main ui container">
  <h2>About Us</h2>
  <div class="carousel">
    <input id="image1" type="radio" name="image-selector" checked="checked" />
    <label for="image4">View image 4</label>
    <img src="https://c1.staticflickr.com/9/8628/16391687731_5520aea3ba_b.jpg" />

    <input id="image2" type="radio" name="image-selector" />
    <label for="image1">View image 1</label>
    <img src="https://c1.staticflickr.com/4/3909/14848648834_61aae73741_b.jpg" />

    <input id="image3" type="radio" name="image-selector" />
    <label for="image2">View image 2</label>
    <img src="https://c1.staticflickr.com/4/3679/12293301163_b5c1ecc498_b.jpg" />

    <input id="image4" type="radio" name="image-selector" />
    <label for="image3">View image 3</label>
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Sydney-harbour-bei-nacht-wallpaper.JPG" />

    <label for="image4">View image 4</label>
    <label for="image1">View image 1</label>
  </div>
  <div class="ui grid">
    <div class="sixteen wide column">
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Et tortor consequat id porta nibh venenatis cras. Auctor urna nunc id cursus metus aliquam eleifend mi
        in.
        In pellentesque massa placerat duis ultricies lacus. Nibh venenatis cras sed felis eget velit aliquet sagittis.
        Cras pulvinar mattis nunc sed. Et egestas quis ipsum suspendisse. Facilisis gravida neque convallis a cras
        semper
        auctor neque vitae. Accumsan lacus vel facilisis volutpat est. Nulla facilisi cras fermentum odio eu feugiat
        pretium. At tellus at urna condimentum mattis pellentesque id. Massa tincidunt dui ut ornare. Facilisis magna
        etiam
        tempor orci eu lobortis elementum. Dictum varius duis at consectetur lorem donec. Elementum eu facilisis sed
        odio
        morbi quis commodo odio. Tortor aliquam nulla facilisi cras fermentum. Habitant morbi tristique senectus et
        netus
        et malesuada fames. Id eu nisl nunc mi ipsum faucibus. Mauris sit amet massa vitae tortor condimentum lacinia
        quis
        vel.
      </p>
      <p class="description">
        Convallis a cras semper auctor neque vitae tempus quam. Bibendum neque egestas congue quisque.
        Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Integer feugiat scelerisque varius morbi enim
        nunc
        faucibus a. Consectetur adipiscing elit duis tristique sollicitudin. Sit amet massa vitae tortor condimentum
        lacinia quis vel. Aliquam etiam erat velit scelerisque in dictum. Nulla malesuada pellentesque elit eget
        gravida.
        Ut sem nulla pharetra diam sit amet. Turpis massa tincidunt dui ut. Enim facilisis gravida neque convallis a.
        Sed
        arcu non odio euismod lacinia at quis risus.
      </p>
      <p class="description">
        Nec tincidunt praesent semper feugiat. Vitae congue eu consequat ac felis donec. Et ligula
        ullamcorper malesuada proin. Adipiscing elit ut aliquam purus sit. Massa sapien faucibus et molestie ac feugiat
        sed
        lectus vestibulum. Scelerisque fermentum dui faucibus in. Eleifend mi in nulla posuere sollicitudin. Lorem
        ipsum
        dolor sit amet. Sed vulputate mi sit amet mauris. Velit egestas dui id ornare. Laoreet non curabitur gravida
        arcu
        ac tortor dignissim. Consectetur adipiscing elit pellentesque habitant morbi. Condimentum mattis pellentesque
        id
        nibh tortor id.
      </p>
    </div>
  </div>
</div>
